ts_*
*test*
./*.sh

climush-seqs_empty-rep

climush_py-package/climush.egg-info
climush_py-package/dist
climush_py-package/climush/mapping.py
climush_py-package/climush/bioinfo_old.py

itsx_psf2312-2407

pacbio_7806

pipeline/xero_concat.py

pipeline-output

seqs-for-db

sequences*

subsample_pacbio_raw.py

trim_illumina_soil_2023-06_D01_UC_01_R1.fastq