.DS_Store
.idea
.venv

config

file-finding/climush-seqs_empty-rep/

file-naming/quick-rename.py
file-naming/site-collection-data_soil-litter.xlsx
file-naming/temp.py

file-sorting/pacbio_sort_files_old.py

pacbio_*

concat.sh